@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgc: rgb(240, 239, 239);
  --fontc: #404340;
  --bg2: #482426;
  --icon: #ffe776;
  --sun: hidden;
  --moon: unset;
  ---codebg: rgba(10, 10, 20, 1);
  ---codetext: #ffffff;
  --bg3: #404340;
  --mainbg: rgb(240, 239, 239);
}
/* rgb(255, 221, 54); */

.note {
  border-radius: 10px;
  /* border:2px solid  rgb(135, 70, 4, .71); */
  /* background-color: var(--bg2);
  color:var(--bgc); */
  box-shadow: 1px 1px 4px rgba(1, 16, 72, 0.19551);
}

.note:nth-last-child(1) {
  width: inherit;
}

@media (min-width: 768px) {
  [data-tooltip]:before {
    position: absolute;
    color: var(--fontc);
    z-index: 1;
    font-size: 12px;
    font-weight: 300;
    top: -20px;
    left: 20px;
    border-radius: 3px;
    padding: 5px 5px;
    background-color: var(--bg2);
    content: attr(data-tooltip);
    opacity: 0;
    width: max-content;
  }

  [data-tooltip]:hover:before {
    opacity: 1;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0%;
}
html {
  background-color: var(--bgc);
}
mark {
  background-color: var(--icon);
}
::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

.banner {
  position: relative;
  width: 100%;
}

.toggle {
  cursor: pointer;
  transition: all 0s ease-in-out;
}
.head {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.DraftEditor-root {
  background: rgba(211, 211, 209, 0.245);
  border-radius: 3px;
  /* border: 1px solid #ddd; */
  font-family: sans-serif;
  font-size: 14px;
  padding: 15px;
  color: var(--fontc);
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
  box-shadow: #404340;
  /* border:px solid var(--fontc); */
}
@media (max-width: 900px) {
  .DraftEditor-root {
    min-height: 60vh;
    max-height: 65vh;
    overflow-y: scroll;
  }
}
@media (max-width: 399px) {
  .DraftEditor-root {
    min-height: 50vh;
    max-height: 55vh;
    overflow-y: scroll;
  }
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-styleButton {
  color: var(--fontc);
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11px;
}

blockquote {
  border-left: 2px solid grey;
  padding-left: 6px;
  font-size: 24px;
}
pre {
  background-color: var(---codebg);
  font-family: monospace;
  color: rgba(22, 255, 255);
  padding: 8px;
  border-radius: 4px;
  width: max-content;
  max-width: 90%;
  min-width: 40vw;
}
